
  .main-container {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #70757a;;
    max-width: 900px;
    min-width: 500px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding-bottom: 0px;
  }
  
  .link {
    text-decoration: none;
    cursor: default;
  }
  .list {
    list-style: none;
    margin: 0 uato;
    padding: 0 auto;
  }
  .current-city {
    font-family: "Source Sans Pro", sans-serif;
    color: #212529;
    font-weight: 700;
    font-size: 29px;
  }
  .current-temperature {
    color: #212529;
    font-size: 26px;
    font-weight: 700;

  }
  .current-time-list{
    text-align: left;
    padding-left: 0px;
      }

  .current-time-item {
    display: inline-block;
    margin: 25px;
  }
  .btn-secondary{
    background-color: hsl(0, 0%, 90%);
    color: #84CDF7;
  border: none;}
  .units {
    position: relative;
    top: -6px;
    font-size: 18px;
  }
  .btn-secondary:hover{
    background-color: #84CDF7;
    color: hsl(0, 0%, 90%);
  }

  .current-weather {
    padding: 20px 0px 0px;
  }
  .future-weather-container{
    padding: 0px 0px 0px 20px;
  }
  .feels-temperature::after{
    content: "";
    display: block;
    width: 180px;
    border-top: 1px solid #ced4da;

  }
  .feels-unit{
    position:relative;
    top: -4px;
    font-size: 14px;
  }
  .feels-temperature-accent{
    font-size: 20px;
  }
  .units .active{
    color: #000;
  }
  .city-form {
    padding: 20px 0px 0px 35px;
  }
  .weather-emoji{
    width: 130px;
    padding-top: 20px;
  }

  .weather-descript {
    font-size: 20px;
    padding: 10px 0px;
  }
  .weather-descript::first-letter{
    text-transform: capitalize;
  }
  
  .feels-temperature {
    margin: 0px;
  }
.maximum-temp{
  font-weight: bolder;
}

.forecast-temper{
  font-size: 14px;
  color: #212529;
  opacity: 0.9;
}
  .weather-list{
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 40px 10px 0px;
    font-size: 14px;
  }
  .weather-item-accent{
    color: #212529; 
    opacity: 0.9;
  }
  .weather-forecast{
    padding: 25px 0px 0px;
    text-align: center;
    width: 370px;
  }

  footer{
    text-align: center;
  }
  .footer-item {
    display: inline-block;
    margin: 10px 20px 0px 0px;
    font-size: 12px;
  }
  .footer-link:hover{
    text-decoration: underline;
  }
  @media (max-width: 875px){
  .btn-secondary{
    display: none;
  }
  }
  