
  .main-container {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #70757a;;
    max-width: 900px;
    min-width: 500px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding-bottom: 0px;
  }
  
  .link {
    text-decoration: none;
    cursor: default;
  }
  .list {
    list-style: none;
    margin: 0 uato;
    padding: 0 auto;
  }
  .current-city {
    font-family: "Source Sans Pro", sans-serif;
    color: #212529;
    font-weight: 700;
    font-size: 32px;
  }
  .current-temperature {
    color: #212529;
    font-size: 26px;
    font-weight: 700;

  }
  .current-time-item {
    display: inline-block;
    margin: 30px 25px 0px;
  }
  .units {
    position: relative;
    top: -6px;
    font-size: 18px;
  }

  .current-weather {
    padding: 20px 0px 0px;
  }
  .future-weather-container{
    padding: 0px 0px 0px 20px;
  }
  .feels-temperature::after{
    content: "";
    display: block;
    width: 180px;
    border-top: 1px solid #ced4da;

  }
  .feels-unit{
    position:relative;
    top: -4px;
    font-size: 14px;
  }
  .feels-temperature-accent{
    font-size: 20px;
  }
  .units .active{
    color: #000;
  }
  .city-form {
    padding: 20px 0px 0px 35px;
  }
  .weather-emoji{
    width: 150px;
  }

  .weather-descript {
    font-size: 20px;
    padding: 10px 0px;
  }
  .weather-descript::first-letter{
    text-transform: capitalize;
  }
  
  .feels-temperature {
    margin: 0px;
  }
.maximum-temp{
  font-weight: bolder;
}

.forecast-temper{
  font-size: 14px;
  color: #212529;
  opacity: 0.9;
}
  .weather-list{
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 40px 10px 0px;
    font-size: 14px;
  }
  .weather-item-accent{
    color: #212529; 
    opacity: 0.9;
  }
  .weather-forecast{
    padding: 60px 0px 0px;
    text-align: center;
   width: 370px;
  }

  footer{
    text-align: center;
  }
  .footer-item {
    display: inline-block;
    margin: 10px 20px 0px 0px;
    font-size: 12px;
  }
  .footer-link:hover{
    text-decoration: underline;
  }
  